section.chart {
    // border-bottom: 1px solid $framing;
    border-top: 1px solid $framing;
    // border: 1px solid $framing;
    padding-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;

    .chart-header-container {
        color: $carboncopy;
        display: flex;
        justify-content: space-between;
        // border-bottom: 1px solid $framing;
        padding: 10px 20px;
        i {
            cursor: pointer;
            font-size: 20px;
            &:hover {
                color: $primary;
            }
        }
    }

    .options-container {
        position: relative;
    }

    div.chart {
        width: 100%;
        height: 100%;
    }
}