.options-list {
    li {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;

        &:hover {
            background: #ddd;
            cursor: pointer;
        }
    }
}